.profile-userpic-avatar img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  border-style: solid;
  border-width: 1px;
}

.profile-userpic-forbidden img {
  float: none;
  margin: 0 auto;
  width: 20%;
  height: 20%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  border-style: solid;
  border-width: 1px;
}

.infoFinRegistro {
  font-size: 15px;
  color : #1962EE;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
  text-align:center;
}

body {
  /*background: #F1F3FA;*/
  background-color: #4AFFB4;
}

.titleActivarCuenta{
	font-weight: lighter;
	font-style: italic;
	color: black;
}

.background{
	/*background-color: #00FFFD;*/
	background-color: #4AFFB4;
}

.mensajeInfo{
	font-style: italic;
	color: black;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerImg {
    width: 400px;
    height: 400px;
}

.containerImg img {
    width: 100%;
    height: auto;
}

.fondoActivaCuenta{
	/*background-color: #FFCB36;*/
	background-color: #FFC2EF;
}
