body, html {
    height: 100%;
    /*background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    /*background-color: #00FFFD;*/
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerImg {
    width: 400px;
    height: 400px;
}

.containerImg img {
    width: 100%;
    height: auto;
}

.fondoIS{
	/*background-color: #00FFFD;*/
	background-color: #FFFFFF;
}

.windowLogin{
	/*background-color: #F0E4E4;*/
	background-color: #8D8D8D;
	border-style: solid;
	border-width: 2px;
	/*border-color: #BABABA;*/
	border-color: #515151;
}

.title{
	color: white;
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
}

.logoFlashcards{
	width: 80px;
	height: auto;
}

.textCenter{
	text-align: center;
}

.flip-card-container {
  /*width: 300px;
  height: 400px;*/
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card-container.flip .flip-card {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

/*.flip-card-front {
  background-color: #333;
  color: #fff;
}*/

.flip-card-back {
  /*background-color: #517fa4;
  color: #fff;*/
  transform: rotateY(180deg);
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  /* border-radius: 0.5rem; */
}

.flip-card-back p {
  /*text-align: center;*/
  margin: 1rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

.flip-card-back p span {
  display: block;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  margin-top: 1.25rem;
}

.fondoLogin{
	background: #FFD142;
}

.fondoRecovery{
	background: #45BF1D;
}

.positionReCaptcha{
	transform:scale(0.77);
	-webkit-transform:scale(0.77);
	transform-origin:0 0;
	-webkit-transform-origin:0 0;
	/*text-align: center;*/
}

.color-block{
	/*background-color: #C8C8C8;*/
	background-color: #94C0CD;
}


/*.containerCards {
    width: 100%;
    height:100%;
    position: relative;
    border: 1px solid #ccc;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
.card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

.card div {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 140px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card .front {
  background: red;
}

.card .back {
    background: blue;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}*/











/*.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    background-color: rgb(104, 145, 162);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}



.card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerImg {
    width: 400px;
    height: 400px;
}

.containerImg img {
    width: 100%;
    height: auto;
}

.background{
	background-color: #00FFFD;
}

.titleRegister{
	font-weight: lighter;
	font-style: italic;
}

.scene {
  width: 200px;
  height: 260px;
  width: 100%;
  height: 100%;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card_face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card_face-front {
  background: red;
}

.card_face-back {
  background: blue;
  transform: rotateY( 180deg );
}

.card.is-flipped {
  transform: rotateY(180deg);
}*/